html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f0f0f5;
}

#page-home{
    height: 100vh;
    background: url('../assets/home-background.svg') no-repeat;
    background-position: 35vh botton;
}

#page-home .content {
    margin: 0 auto;
    max-width: 1100px;
    width: 90%;
}

#page-home header {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

